.container {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr;
	height: 750px;
}

.header {
	background: gray;
	grid-column: 1 / 4 span;
	grid-row: 1 / 2;
}


