.container {
	font-family: sans-serif;
	display: grid;
	grid-template-areas:
		'header header header'
		'content icon icon'
		'content icon icon'
		'content navbar footer'
		'content navbar footer'
		'content navbar footer';
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 100px .5fr .5fr 1fr 1fr 1fr;
	height: 100vh;

	@media screen
	and (max-width: 1024px) {
		grid-template-areas:
			'header header'
			'content icon'
			'content navbar'
			'footer footer';
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 80px 1fr 100% 10%;
	}

	@media screen
	and (max-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2) {
		grid-template-areas:
			'icon'
			'header'
			'content'
			'navbar'
			'footer';
		grid-template-columns: 1fr;
		grid-template-rows: .5fr 80px auto 1fr .5fr;
		height: 100%;
	}
}

.header {
	background: #F5F5F5;
	grid-area: header;
	display: grid;
	justify-content: center;
  align-items: center;

	h1 {
		font-size: 34px;

		@media screen
		and (max-width: 667px)
		and (-webkit-min-device-pixel-ratio: 2) {
			font-size: 20px;
		}
	}
}

.content {
	grid-area: content;
	padding: 24px;

	h2 {
		font-size: 20px;
		margin-bottom: 10px;
		display: flex;
    justify-content: center;
	}

	p {
		line-height: 20px;
		margin-bottom: 5px;
	}
}

.icon {
	background: tomato;
	grid-area: icon;
	display: grid;
	justify-content: center;
  align-items: center;

	div {
		background-repeat: no-repeat;
		background-image: url("fox-head.svg");
		background-position: center;
		width: 15vw;
		height: 15vh;

		@media screen
		and (max-width: 667px)
		and (-webkit-min-device-pixel-ratio: 2) {
			width: 20vw;
			height: 20vh;
		}

		@media only screen
  	and (orientation: landscape)
  	and (-webkit-min-device-pixel-ratio: 2) {
  		margin: 10px;
  	}
	}
}

.navbar {
	background: gray;
	grid-area: navbar;

	a {
		display: grid;
    justify-content: center;
    padding: 20px;
    border: 1px solid ghostwhite;
    text-decoration: none;
    color: ghostwhite;
	}
}

.footer {
	background: skyblue;
	grid-area: footer;

	h3 {
		font-size: 16px;
		font-weight: bold;
		padding: 15px 6px 6px 6px;
	}

	ul {
		font-size: 14px;
		padding: 0px 15px;
	}
}
